$background: #121212;
$diffPillBackground: #242526;
$cardBackground: #1e1e1e;
$fontColor: #f1f1f1;

$color900: #e5f906;
$color900o: rgba(229, 249, 6, 0.2);
$color800: #eefb4d;
$color700: #f4fd80;
$color600: #f9feb3;
$color500: #fcfed9;
$color400: #fdfef0;
$color300: #fefef7;
$color200: #fefefc;
$color100: #ffffff;
$color800o: rgba(255, 255, 255, 0.2);

$headerHeight: 5rem;
