$backgroundDark: #121212;
$backgroundDarkCard: rgb(26, 26, 26);
$backgroundDarkCardHover: #1e1e1e;
$fontColor: #f1f1f1;
$headerBackgroundDark: #242526;

$color900: #653cad;
$color800: #7e57c2;
$color700: #a18bea;
$color600: #c7b2f9;
$color500: #e0d4fc;
$color400: #f0ebfc;
$color300: #f8f5fd;
$color200: #fdfcfe;
$color100: #fefefe;

$headerHeight: 22rem;
