$backgroundDark: #121212;
$backgroundDarkCard: rgb(26, 26, 26);
$backgroundDarkCardHover: #1e1e1e;
$cardDark: #242526;
$fontColor: #f1f1f1;

$color900: #bfff00;
$color800: #ccff33;
$color700: #d9ff66;
$color600: #e6ff99;
$color500: #f2ffcc;
$color400: #f5ffd9;
$color300: #f8ffe6;
$color200: #fbfff2;
$color100: #ffffff;
$color800o: rgba(255, 255, 255, 0.2);

$headerHeight: 22rem;
